.banquet {
    background: lightgray;
}

.buttons {
    height: 150px;
    width: 260px;
    font-family: inherit;
    font-size: 280%;
    box-shadow: 1px 1px 3px black;
    background: linear-gradient(black, darkred, black);
    color: white;
    line-height: 150px;
}

.buttons:hover {
    opacity: .8;
}

@media (max-width: 500px) {
    button {
        margin: 20px 20px;
    }
}